 .u-section-1 {
  background-image: linear-gradient(#003261, #001d37);
}

.u-section-1 .u-sheet-1 {
  min-height: 1310px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 93px;
  height: auto;
  background-image: none;
  width: 354px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-1 {
  width: 348px;
  height: 170px;
  margin: 88px auto 0 50px;
}

.u-section-1 .u-image-2 {
  width: 418px;
  height: 200px;
  margin: -170px 50px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 375px;
  height: 98px;
  margin: 50px auto 0 372px;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 177px;
  margin: 63px auto 0;
}

.u-section-1 .u-image-5 {
  width: 174px;
  height: 153px;
  margin: 73px 50px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 269px;
  height: 161px;
  margin: -153px auto 0 50px;
}

.u-section-1 .u-text-1 {
  margin: -117px 859px 60px 88px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 272px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 34px;
    margin-right: 64px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 183px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 193px;
    margin-top: -97px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1654px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 235px;
    margin-right: 138px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -361px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 302px;
    margin-right: 62px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 94px;
    margin-right: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: 173px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -108px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1610px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 165px;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
  }

  .u-section-1 .u-image-4 {
    height: 167px;
    margin-top: 194px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 0;
    margin-left: 201px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 61px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -96px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1476px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 26px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 166px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 163px;
  }

  .u-section-1 .u-image-3 {
    height: 89px;
    margin-top: 77px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 19px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    margin-top: -1px;
    margin-left: 166px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 55px;
  }

  .u-section-1 .u-text-1 {
    width: 194px;
  }
} @font-face {
    font-family: 'Azonix Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Azonix Regular'), url('Azonix.woff') format('woff');
    }
	
	h1 {
		color: white;
		font-family: 'Azonix Regula';
		font-size: large;
	}