.u-section-1 .u-sheet-1 {
  min-height: 1307px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 93px;
  height: auto;
  background-image: none;
  width: 354px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-1 {
  width: 348px;
  height: 170px;
  margin: 88px auto 0 50px;
}

.u-section-1 .u-image-2 {
  width: 375px;
  height: 98px;
  margin: -124px 50px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 186px;
  height: 186px;
  margin: 160px auto 0 108px;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 177px;
  margin: -181px 0 0 auto;
}

.u-section-1 .u-image-5 {
  width: 269px;
  height: 161px;
  margin: 275px auto 0;
}

.u-section-1 .u-text-1 {
  width: 193px;
  margin: -96px auto 0;
}

.u-section-1 .u-image-6 {
  width: 15px;
  height: 15px;
  margin: 219px auto 5px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1451px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -134px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 153px;
    margin-left: 117px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -186px;
    margin-right: 10px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 1111px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -432px;
    margin-right: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 62px;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 374px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -472px;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 504px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -108px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -411px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1442px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 119px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 279px;
  }

  .u-section-1 .u-image-4 {
    height: 167px;
    margin-top: -369px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 416px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -96px;
  }

  .u-section-1 .u-image-6 {
    width: 14px;
    height: 18px;
    margin-top: 71px;
    margin-bottom: 0;
    margin-left: -36px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1185px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 166px;
  }

  .u-section-1 .u-image-2 {
    height: 89px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: 194px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 166px;
  }
} @font-face {
    font-family: 'Azonix Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Azonix Regular'), url('Azonix.woff') format('woff');
    }
	
	h1 {
		color: white;
		font-family: 'Azonix Regula';
		font-size: large;
	}