 .u-section-1 {
  background-image: url("/files/Myproject-11.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2145px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
  margin: 1362px auto 60px;
  padding: 140px 256px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1727px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1122px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1449px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 911px;
    padding: 69px 98px 71px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1086px;
  }

  .u-section-1 .u-btn-1 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 601px;
    padding: 87px 157px 89px 156px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 489px;
    padding-right: 39px;
    padding-bottom: 88px;
    padding-left: 38px;
  }
}
